DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
SQLITE_NAME=db.sqlite3
FRONTEND_BASE_URL=http://localhost:3000
APP_LINK_BASE=logeme://auth
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=no-reply@logeme.app
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=1
CORS_ALLOW_ALL_ORIGINS=1
CORS_ALLOWED_ORIGINS=
CSRF_TRUSTED_ORIGINS=
SECURE_SSL_REDIRECT=0
SESSION_COOKIE_SECURE=0
CSRF_COOKIE_SECURE=0
